<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="NewsDao" class="by.epam.news.database.impl.NewsDaoImpl">
		<constructor-arg type="by.epam.news.database.ConnectionPool"
			ref="connectionPool" />
	</bean>

	<bean id="springApplicationContext" class="by.epam.news.util.SpringApplicationContext" />

</beans>