<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">
	
	<context:component-scan base-package="by.epam.news" />
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>classpath:by/epam/news/properties/database/connectionPoolTest.properties</value>
		</property>
	</bean>

	<bean id="NewsDao" class="by.epam.news.database.impl.NewsDaoJdbc">
		<constructor-arg type="by.epam.news.database.ConnectionPool"
			ref="connectionPool" />
	</bean>


<!-- 	<bean id="connectionPool" class="by.epam.news.database.ConnectionPool" -->
<!-- 		destroy-method="destroy"> -->
<!-- 		<constructor-arg type="java.lang.String" value="${jdbc.driver}" /> -->
<!-- 		<constructor-arg type="java.lang.String" value="${jdbc.url}" /> -->
<!-- 		<constructor-arg type="java.lang.String" value="${jdbc.user}" /> -->
<!-- 		<constructor-arg type="java.lang.String" value="${jdbc.password}" /> -->
<!-- 	</bean> -->

<!-- 	<bean id="NewsService" class="by.epam.news.service.impl.NewsServiceImpl"> -->
<!-- 		<property name="dao" ref="NewsDao" /> -->
<!-- 	</bean> -->

<!-- 	<bean id="dataSource" -->
<!-- 		class="org.springframework.jdbc.datasource.DriverManagerDataSource"> -->
<!-- 		<property name="driverClassName" value="${jdbc.driver}" /> -->
<!-- 		<property name="url" value="${jdbc.url}" /> -->
<!-- 		<property name="username" value="${jdbc.user}" /> -->
<!-- 		<property name="password" value="${jdbc.password}" /> -->
<!-- 	</bean> -->

<!-- 	<bean id="entityManagerFactory" -->
<!-- 		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"> -->
<!-- 		<property name="dataSource" ref="dataSource" /> -->
<!-- 		<property name="jpaDialect"> -->
<!-- 			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaDialect"/> -->
<!-- 		</property> -->
<!-- 	</bean> -->
	
<!-- 	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager"> -->
<!-- 		<property name="entityManagerFactory" ref="entityManagerFactory" /> -->
<!-- 	</bean> -->

	
</beans>

