#add-form{
	margin: 10px 0 0 15px;'
}


#add-form table{
	
}

.title-input{
	width: 96%;
}

#add-form th, #add-form  td {
    padding: 5px 5px 5px 25px;
    text-align: left;    
}

#add-form textarea{
	 overflow: scroll; 
	 resize: none;
	 word-wrap: normal;
 }
 
#submit-cancel-buttons{
	margin-top: 30px;
 	text-align: center;

 }
 
#submit-cancel-buttons input{
 	padding: 3px;
 	font-size: 15px;
 }
 
 .error-message{
 	color: red;
 }