* {
	margin: 0;
	padding: 0;
}

body {

	width: 80%;
	margin: 30px auto 0 auto;
	height: 90%;
}

#page {
	min-height: 85%;
	min-width: 915px;
	width: 100%;
	height: auto !important;
	height: 100%;
	padding: 5px 0 5px 0;
	border-left: 2px solid black;
	border-right: 2px solid black;
}

.wrap {
	padding-bottom: 48px;
	border: 1px solid gray;
	margin: 0px 5px 0px 27%;
	width: 72%;
	min-height: 650px;
	height: auto !important;
	height: 80%;
}

header {
	width: 100%;
	display: block;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;
	min-width: 915px;
}

header #logo {
	margin-top: 25px;
	margin-left: 25px;
	margin-bottom: 25px;
	display: inline-block;
}

header #logo h1 {
	font-size: 30px;
	color: #495AB6;
}

header #language-select {
	display: inline-block;
	float: right;
	margin-top: 55px; 
	margin-right: 20px;
}

header #language-select a{
	margin-left: 15px;
}

#menu {
	width: 25%;
	margin-left: 10px;
	float: left;
}

#menu #panel {
	background-color: rgb(143, 143, 143);
	padding: 15px 0 10px 10px;
}

#menu #panel #title {
	margin-top: 8px;
	background-color: #6B6B6B;
	text-align: center;
	color: white;
	font-size: 18px;
	padding: 3px;
}

#menu #panel #control {
	margin-left: 30px;
	background-color: white;
	margin-top: 5px;
	margin-bottom: 15px;
	padding-top: 10px;
	padding-bottom: 5px;
	width: 85%;
}

#menu #panel #control ul {
	margin-left: 15px;
	margin-top: 6px;
	margin-bottom: 20px;
	width: 90%;
	list-style: none; 
}



#menu #panel #control ul li {
	list-style: none;
	margin-left: 25px;
	padding-left: 1em;
	text-indent: -.7em;
}

#menu #panel #control ul li:before{
   content: '';
   display: inline-block;
   height: 0.8em;
   width: 0.8em;
   margin-top:10px;
   margin-right:15px;
   background-image: url("../image/tr.png");
   background-size:contain; 
   background-repeat:no-repeat;
}

#navigable {
	margin:10px 0 0 10px;	
}

.inner-pre{
	font-size: 17px;	
	white-space: pre-wrap;
}

footer {
	width: 100%;
	display: block;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;
	margin-bottom: 30px;
	min-width: 915px;
}

footer p {
	text-align: center;
}

.error{
	margin: 100px;
}